{% extends 'main/base.html' %}
{% block title %} Home  {% endblock %}
{% block content %}

<div class="container employee">

    <div class="container">
        <div class="row">
            {% for employee in users %}

            {% with employee.employee.education.all|first as education  %}

            <div class="col-md-4">
                <div class="card user-card">
                   
                    <div class="card-block">
                        <div class="user-image">
                            <img src="{{ employee.employee.profile_picture.url }}" class="img-radius" alt="User-Profile-Image">
                        </div>
                        <h6 class="f-w-600 m-t-25 m-b-10">{% if employee.employee.first_name %} {{ employee.employee.first_name }} {{ employee.employee.last_name }} {% else %} {{ employee.employee.username }} {% endif %}</h6>
                        <p class="text-muted">Email: {{ employee.employee.email }}</p>
                        <hr>
                        <p class="text-secsuss m-t-15">Points: {{ employee.total_points }} <i style="color: #ffcc00;" class="bi bi-star-fill"></i></p>
                    
                        
                        <div class="bg-c-blue counter-block m-t-10 p-30 rounded">
                           <a class="btn text-light" href="/account/profile/{{employee.employee.id}}">Read More</a>
                        </div>
                       
                    </div>
                </div>
            </div>

            
            {% endwith %}
            {% endfor %}
        </div>
    </div>
    
</div>
{%endblock%}