{% extends 'main/base.html' %}
{% block title %} Home  {% endblock %}
{% block content %}
<div class="container login">
      <section class="vh-100">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              <h1 class="text-center txt fw-bold">Login </h1>
              <form method="post" action="{% url 'account:login' %}">
                {% csrf_token %}
              <!-- Email input -->
                <div class="form-outline mb-4 ">
                  <label class="form-label txt fw-bold" for="form3Example3">UserName </label><br>
                  {{ form.username }}
                </div>
      
                <!-- Password input -->
                <div class="form-outline mb-3">
                  <label class="form-label txt fw-bold" for="id_password">Password:</label><br>
                  {{ form.password }}
                </div>
                <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
  </div>

 {%endblock%}

{% comment %} <form method="post" action="{% url 'account:login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form> {% endcomment %}
