{% extends 'main/base.html' %}
{% block title %} Sign Up  {% endblock %}
{% block content %}
<div class="container login">
  <section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <h1 class="text-center txt fw-bold">Manager Sign Up</h1>
    <form method="POST" enctype="multipart/form-data" action="{% url 'account:signup' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 mb-4">
            <label class="form-label txt fw-bold fontsize" for="id_username">Username:</label>
          {{ user_form.username }} 
            <label for="id_password1" class="form-label txt fw-bold fontsize">Password:</label>
            {{ user_form.password1 }}
    
            <input type="text"  name="role" id="id_role" value="superadmin" hidden>

            <label for="id_profile_picture"class="form-label txt fw-bold fontsize">Profile Picture:</label>
            {{ user_form.profile_picture }}
        </div>
        <div class="col-md-6 mb-4">
            <label for="id_email"class="form-label txt fw-bold fontsize">Email:</label>
            {{ user_form.email }} 
            <label for="id_password2"class="form-label txt fw-bold fontsize">Confirm Password:</label>
            {{ user_form.password2 }}
          
           
        </div>
        <div class="text-center  mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg "
              style="padding-left: 2.5rem; padding-right: 2.5rem; ">Sign Up</button>
          </div>
        <!-- <input type="submit" value="Sign Up"> -->
    </form>
</div>
</div>
</div>
  </section>
  </div>
{%endblock%}